

{% extends 'base.html' %}
{% block title %}All Products{% endblock %}


{% block content %}
<div class="container"> 
    <div class="row">
        <div class="col-md-12">
            
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Items</th>
                        <th>time</th>
                        <th>Feedback</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fm in form %}
                    <tr>
                        <td>{{fm.products}}</td>
                    <td>{{fm.created_at}}</td>
                    <td>{{fm.Feedback}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}